{{ partial "header.html" . }}

<div id="content" class="site-content">
	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">

		<article class="post type-post status-publish format-standard hentry category-uncategorized">

		<header class="entry-header">

      	<h2 class="entry-title">Error 404</h2>

		</header>

		<div class="entry-content"> The page you're requesting no longer exists. If you're searching for a specific post, I'd recommend using <a href="https://duckduckgo.com">DuckDuckGo</a>.</div>

		<footer class="entry-footer"> 

		</footer>

		</article>

		</main>
	</div>
</div>

{{ partial "footer.html" . }}

